.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 80px;
}

.App-header {
  background-color: #ffffff;
  height: auto;
  padding: 20px;
  color: #222;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

body {
  background-color: #0aa6de;
}

.customer {
  display: inline-block;
  position:relative;
  padding:5px;
  background-color: white;
  box-shadow: 0px 2px 3px black;
  box-sizing: border-box;
  width: 200px;
}

table {
  margin:10px;
  float:left;
  width: max-content;
}

#canvan > table {
  position:relative;
  margin:0 auto;
  float: none;
}

table td {
  padding: 5px;
  /* border:1px solid white; */
}

table tr:last-child {
  position: relative;
  margin-top:20px;
  display: block;
  height:30px;
  border: 1px solid white;
}

table tr:last-child:before {
  content:'';
  display: block;
  margin:0 auto;
  padding:0px;
  border-left:2px solid white;
  width: 0px;
  height:27px;
  position: absolute;
  left: 50%;
  top:-27px;
}

.usericon {
  margin:0 auto;
  display: block;
  width: 50px;
  height: 50px;
}

/* form > div {
  display:none;
}

form:hover div {
  display:block;
}

form *:focus div {
  display:block;
} */

.isInParentCycle > div:before {
  content:'';
  display: block;
  margin:0 auto;
  padding: 5px;
  background-color: #7fff00;
  width: 5px;
  height: 5px;
  position: absolute;
  left: 6px;
  top: 6px;
  border-radius: 50%;
  border: 1px solid green;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
